/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #E3E3E3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenavClosed {
    width: 0;
}
.sidenavOpen {
    width: 100%;
}

/* The navigation menu links */
.sidenav a {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 5vh;
    color: #F55E27;
    transition: 0.3s;
    border-bottom: 1px solid #35AA71;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    text-decoration: none;
    color: #35AA71;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.faBars {
    color: #1951fe;
}
.faTimes{
    color: red;
}