.login {
    padding-top: 20vh;
    font-family: 'Poppins', sans-serif;
    color: #F55E27;
    background: #1951fe;
    width: 100%;
    height: 100vh;
}
.recoverLink {
    text-decoration: none;
    color: #F55E27 !important;
}
.recoverLink:hover{
    color: white !important;
}
.borderWarning {
    box-shadow: 0 0 25px red;
}
.bgRed {
    color: #000;
    background-color: red;
}